$black: #011627;
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$danger: $red;
$warning: $orange;
$success: $teal;

body {
  color: $black;
}

.successTask {
  background-color: $success;
  color: white;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $black;
  .navbar-brand {
    color: white;
  }
  .navbar-nav > a {
    color: white;
  }
  .navbar-nav > .disabled {
    color: gray;
  }
}

.card-body {
  .wrapperUI {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .task {
      background-color: $cyan;
      color: white;
      padding: 0.125rem 1rem;
      border-radius: 0.25rem;
      font-weight: bold;
    }
  }
  img {
    width: 100%;
    margin: 1rem 0;
  }
  .wrapperInfo {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0;
    margin: 1rem 0;
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
    .wrapperPriority,
    .wrapperDeadline {
      display: flex;
      margin: 0.333rem 0;
      gap: 1rem;
    }
    .priority {
      background-color: $black;
      padding: 0 0.75rem;
      height: 1.666rem;
      color: white;
      font-weight: bold;
      border-radius: 0.25rem;
      border: solid 1px white;
    }
    .success {
      background-color: $success;
    }
    .warning {
      background-color: $warning;
    }
    .danger {
      background-color: $danger;
    }
  }
  .wrapperControls {
    display: flex;
    justify-content: space-between;
    .btn {
      color: white;
      padding: 0.333rem 1.5rem;
      display: flex;
      gap: 0.5rem;
    }
  }
}

.footer {
  margin-top: 2rem;
  background-color: $black;
  color: white;
  .wrapperFooter {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .wrapperSocials {
      padding: 2rem 0;
      padding-bottom: 1rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        color: white;
      }
    }
    .wrapperNewsletter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        width: 50%;
      }
      .btn {
        background-color: $black;
        border: solid 1px white;
        color: white;
        &:hover {
          background-color: white;
          color: $black;
        }
      }
    }
    .copy {
      padding: 2rem 0;
      padding-top: 1rem;
      text-align: center;
    }
  }
}
